<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Task18POM/Task18softassert">
        <classes>
            <class name="Tests.CategoryPageTest"/>
            <class name="Tests.ProductsPageTest"/>
            <class name="Tests.SearchPageTest">
            </class>
        </classes>
    </test>
</suite>